.container-social{
    width: 100%;
    background: #F8EFEF;
}
.main-social{
    margin: 0 auto;
    max-width: 1510px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-social-text{
    margin-right: 30px;
}
.main-social__title{
    height: 60px;
    margin-bottom: 18px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-transform: capitalize;
    color: #333333;
}
.main-social__subtitle{
    width: 470px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.main-social-icons{
    display: flex;
    justify-content: space-between;
    width: 670px;
}

@media screen and (max-width:1024px) {
    .main-social{
        width: 1024px;
        height: 105px;
    }
    .main-social__title{
        height: 45px;
        font-size: 18px;
        line-height: 45px;
        margin-bottom: 13px;
    }
    .main-social__subtitle{
        font-size: 14px;
        width: 402px;
    }
    .main-social-text{
        margin: 0 20px 13px 16px;
        
    }
    .main-social-icons{
        justify-content: space-evenly;
        width: 570px;
    }
}
@media screen and (max-width:320px) {
    .container-social{
        width: 320px;
    }
    .main-social{
        width: 288px;
        height: 239px;
        flex-direction: column;
    }
    .main-social-text{
        width: 288px;
        margin: 0;
    }
    .main-social__title{
      
        margin-top: 31px;
        text-align: center;
    }
    .main-social__subtitle{
        width: 271px;
        text-align: center;
        line-height: 16px;
        margin-right: 0;
    }
    .main-social-icons{
        width: 288px;
        margin-top: 32px;
        margin-bottom: 44px;
    }
    .main-social__img{
        width: 26px;
        height: 26px;
    }
}