.container-main-awesome{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
}  

.main-awesome-block{ 
    max-width: 1170px;
    margin: 0 auto;
    height: 665px;
}

.main-awesome-block__title{
   
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    height: 150px;
    line-height: 150px;
    font-size: 36px;
}
.main-awesome-block__line{
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #EC7979;
    width: 170px;
}
.main-awesome-block__subtitle{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    text-align: center;
}
.main-awesome-items{
    width: 100%;
    margin: 71px auto;
}
.main-awesome-items-one{
    width: calc(33% - 30px);
    height: 383px;
    display: inline-block;
    margin: 0 15px;
}

.main-awesome-items-one:last-child{
    margin-right: 0;
}

.main-awesome-items-one__img{
    display: block;
    margin: 0 auto;
    height: 170px;
    width: 170px;

}
.main-awesome-items-one__title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 42px;
  
}
.main-awesome-items-one__text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    align-items: center;
    height: 105px;
}

@media screen and (max-width:1024px) {
    .main-awesome-block{
        width: 992px;
    }
    .main-awesome-block__title{
        margin-bottom: 0;
        height: 120px;
        font-size: 24px;
        line-height: 120px;
    }
    .main-awesome-block__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
    .main-awesome-items{
        margin-top: 32px;
    }
    .main-awesome-items-one{
        height: 318px;
        width: calc(33% - 20px);
        margin: 0 10px;
    }
    .main-awesome-items-one__img{
        width: 147px;
        height: 147px;
    }
    .main-awesome-items-one__title{
        height: 82px;
        font-size: 18px;
        line-height: 82px;
        margin-bottom: 17px;
    }
    .main-awesome-items-one__text{
        font-size: 14px;
        line-height: 16px;
        height: 64px;
    }
}
@media screen and (max-width:320px) {
    .container-main-awesome{
        width: 320px;
        margin-top: 0;
    }
    .main-awesome-block{
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .main-awesome-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .main-awesome-items-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 288px;
        margin-bottom: 10px;
    }
    .main-awesome-block__subtitle{
        height: 80px;
    }
    .main-awesome-block__line{
        width: 134px;
    }
}