.container-contact{
    width: 100%;
}
.main-contact{
    margin: 0 auto;
    max-width: 1170px;
}
.main-contact-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 69px;
}
.main-contact__title{
    margin-top: 50px;
    height: 150px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.main-contact__line{
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin-bottom: 40px;
}
.main-contact__subtitle{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}
.main-contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-contact-form-content{
    display: flex;
    margin-bottom: 50px;
}
.main-contact-form-inputs{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    height: 214px;
}

.main-contact__input{
    margin-bottom: 50px;
    width: 571px;
    height: 38px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}
.main-contact__input:last-child{
    margin-bottom: 0;
}
.main-contact__input::placeholder{
    margin-bottom: 16px;
}
.main-contact__textarea{
    width: 569px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.main-contact-form__button{
    width: 370px;
    height: 58px;
    margin-bottom: 50px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #EC7979;
    cursor: pointer;
    border: 1px solid #EC7979;
}
.main-contact-form__button:active{
    background: #EC7979;
    border: #AB4949;
}
.main-contact-form__button:hover{   
    background: #AB4949;
    border: #EC7979;
}
@media screen and (max-width:1024px) {
    .main-contact{
        width: 992px;
    }
    .main-contact__title{
        margin-top: 50px;
        height: 120px;
        line-height: 120px;
        font-size: 24px;
    }
    .main-contact__subtitle{
        font-size: 14px;
    }
    .main-contact-head{
        margin-bottom: 72px;
    }
    .main-contact-form-inputs{
        margin-right: 20px;
    }
    .main-contact__input{
        width: 486px;
    }
    .main-contact__input::placeholder{
        margin-bottom: 14px;
    }
    .main-contact__textarea{
        width: 486px;
    }
    .main-contact-form__button{
        width: 318px;
    }
}
@media screen and (max-width:320px) {
    .container-contact{
        width: 320px;
    }
    .main-contact{
        width: 288px;
    }
    .main-contact__title{
        margin-top: 0;
    }
    .main-contact__line{
        width: 134px;
        margin-bottom: 24px;
    }
    .main-contact-head{
        margin-bottom: 64px;
    }
    .main-contact-form-content{
        flex-direction: column;
        align-items: center;
    }
    .main-contact-form-inputs{
        margin-right: 0;
    }
    .main-contact__input{
        width: 288px;
    }
    .main-contact__textarea{
        width: 288px;
    }
    .main-contact__input:last-child{
        margin-bottom: 50px;
    }
    .main-contact-form__button{
        width: 288px;
        height: 50px;
        margin-bottom: 40px;
    }
    .main-contact-form-inputs{
        height: auto;
    }
}