/* html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} */
.container-tabs{
    width: 100%;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
}
.main-tabs{
    max-width: 1170px;
}
.main-tabs-buttons{
    display: flex;
}
.main-tabs-banner{
    /* box-sizing: border-box; */
    /* border-left: 1px solid #C6CBCD; */

    /* border-right: 1px solid #C6CBCD; */
    box-shadow: 1px 1px #C6CBCD, -1px 0 #C6CBCD;
    /* border-bottom: 1px solid #C6CBCD; */
    margin: -1px 0 0px 0px;
    height: 500px;
    display: flex;
}

.main-tabs-left{
    /* display: inline-block; */
    height: 500px;
    margin-left: 100px;
    margin-right: 24px;
    vertical-align: top;
}
.main-tabs-right{
    display: inline-block;
}
.main-tabs-buttons__tab_1{
    line-height: 40px;
    display: inline-block;
    box-shadow: -1px -1px #C6CBCD, 1px 0 #C6CBCD;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    width: 203px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 1px 0px 0px 0px;
    text-align: center;
}
.main-tabs-buttons__tab{
    line-height: 40px;
    display: inline-block;
    box-shadow: -1px 1px #C6CBCD, 0 0 #C6CBCD;
    /* border: none; */
    /* border-bottom: 1px solid #C6CBCD; */
    background-color: #fff;
    width: 184px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 0 -5px 0 -4px;
    text-align: center;
}
.main-tabs-buttons__tab:last-child{
    box-shadow: 0px 1px #C6CBCD, 0 0 #C6CBCD;
    padding-right: 601px;
}
.main-tabs-left__title{
    margin: 0;
    height: 124px;
    text-align:left;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 124px;
    vertical-align: middle;
    margin-bottom: 27px;
}
.main-tabs-left__subtitle{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 570px;
    height: 210px;
    margin-bottom: 27px;
    text-align: left;
}
.main-tabs-left__button{
    width: 270px;
    height: 58px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #EC7979;
    border: #EC7979;
}
.main-tabs-left__button:hover{   
    background: #AB4949;
    border: #EC7979;
}
.main-tabs-left__button:active{
    background: #EC7979;
    border: #AB4949;
}
.main-tabs-right__img{
    /* width: 470px; */
    height: 500px;
}

.main-tabs-left__subtitle-2{
    display: none;
}

@media screen and (max-width: 1024px){
    .main-tabs{
        width: 992px;
        height: 425px;
    }
    .main-tabs-banner{
        height: 386px;
    }
    .main-tabs-left__button{
        width: 232px;
        height: 58px;
        font-size: 18px;
    }
    .main-tabs-left{
        max-width: 483px;
        margin-left: 85px;
    }
    .main-tabs-left__title{
        width: 483px;
        height: 89px;
        line-height: 89px;
        font-size: 24px;
        margin-bottom: 38px;
    }
    .main-tabs-left__subtitle{
        display: none;
    }
    .main-tabs-left__subtitle-2{
        display: block;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 38px;
        text-align: left;
    }
    .main-tabs-buttons__tab_1{
        width: 173px;
    }
    .main-tabs-buttons__tab{
        width: 156px;
        margin: 0 -1px 0 -4px;
    }
    .main-tabs-right__img{
        content: url('../img/img.jpg');
        height: 386px;

    }
}