.footer-awesome{
    width: 100%;
}

.footer-awesome-content{
    background-color: #000;
    height: 164px;
}

.footer-awesome-content-icons{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width: 600px;
    margin: 0 auto;
}
.footer-awesome-content__img{
    height: 53.2px;
    width: 53.2px;
}
.footer-awesome-content__img:last-child{
    margin-right: 0;
}
.footer-awesome-content__text{
    margin-top: 27px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:1024px) {
    .footer-awesome-content{
        width: 1024px;
    }
    .footer-awesome-content__img{
        width: 45px;
        height: 45px;
    }
    .footer-awesome-content__text{
        font-size: 14px;
    }
}